<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Email</th>
      <th>Github user</th>
      <th>Github username</th>
      <th>Squad</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.avatar %></td>
        <td><%= student.email %></td>
        <td><%= student.github_user_id %></td>
        <td><%= student.github_username %></td>
        <td><%= student.squad %></td>
        <td><%= student.name %></td>
        <td><%= link_to 'Show', student %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

