<p id="notice"><%= notice %></p>

<p>
  <strong>Avatar:</strong>
  <%= @student.avatar %>
</p>

<p>
  <strong>Email:</strong>
  <%= @student.email %>
</p>

<p>
  <strong>Github user:</strong>
  <%= @student.github_user_id %>
</p>

<p>
  <strong>Github username:</strong>
  <%= @student.github_username %>
</p>

<p>
  <strong>Squad:</strong>
  <%= @student.squad %>
</p>

<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<%= link_to 'Back', students_path %>
